@use "../colors" as colors;

#upcoming-visits-page {
	position: relative;
	display: flex;
	flex-direction: column;

	#buttons {
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: calc(100% - 3rem);

		> section {
			display: flex;
			gap: 0.5rem;
		}
	}
}

@at-root [data-mobile="true"] #upcoming-visits-page {
	padding: 0;

	#buttons {
		bottom: 0;
		justify-content: space-evenly;
		width: 100%;
		padding-block: 0.5rem;
		border-top: 1px solid colors.$light-gray;

		> button {
			font-size: 0.9rem;
		}
	}
}
