#about-page {
	width: min(50rem, 100%) !important;

	p {
		margin-bottom: 1.5rem;

		&:first-of-type {
			text-align: center;
		}

		strong {
			width: 100%;
			font-size: 1.1rem;
			font-weight: 800;
		}
	}

	ul {
		line-height: 2.5;

		li > span {
			font-weight: 600;
			text-decoration: underline;
		}
	}
}
