@use "../../app/colors";

.visit-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3rem;
	border: 1px solid colors.$gray;
	border-radius: 5px;
	user-select: none;
	cursor: pointer;

	> svg {
		fill: colors.$gray;
	}

	svg {
		width: 1.4rem;
	}

	&:hover {
		border-color: colors.$primary;
		outline: 2px solid colors.$primary;

		> svg {
			fill: colors.$primary;
		}
	}
}
