@use "../../app/colors" as colors;

#visit-rows {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1.5rem;
	padding: 0.5rem;
	overflow: auto;
}

#empty {
	color: colors.$light-gray;
	margin: 1rem;
	text-align: center;
	font-weight: 700;
}

.visits-table {
	td:has(svg) {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 50%;
			height: 100%;
			fill: colors.$primary;
			overflow: visible;
		}
	}
}
