#personal-info {
	display: grid;
	grid-template-rows: auto auto 1fr;
	height: 90%;
	padding-top: 1rem;
	gap: 1rem;
	box-sizing: border-box;

	section:first-of-type {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		border-bottom: 1px dashed;
		padding-bottom: 1rem;

		> span {
			display: flex;
			gap: 1rem;
			font-size: 1.1rem;
		}
	}

	section:nth-of-type(2) {
		display: flex;
		flex-direction: row-reverse;
		gap: 1rem;
		margin-top: 1rem;

		img {
			position: relative;
			width: 40%;
			object-fit: cover;
			aspect-ratio: 1/1;
			z-index: -1;
		}

		> section {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 1rem;
			height: 100%;
			overflow: visible;

			span {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 0;
				width: 100%;
				border-top: 1.5px dashed rgba(0, 0, 0, 0.427);

				&:has(strong) {
					padding-block: 0.5rem;
					border-bottom: 2px dashed rgba(0, 0, 0, 0.427);
				}
			}
		}
	}

	section:nth-of-type(3) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		span {
			display: block;
			width: 100%;
			border-bottom: 2px dashed rgba(0, 0, 0, 0.281);
		}
	}
}

#receiever-info {
	display: flex;
	align-items: center;
	gap: 1.3rem;
	height: 10%;

	img {
		height: 100%;
	}
}

#watermark {
	position: fixed;
	left: 50%;
	top: 68vh;
	translate: -50% -50%;
	width: 80%;
	rotate: -30deg;
	opacity: 0.1;
}

@media print {
	#container {
		display: grid !important;
		grid-template-rows: auto 1fr !important;
		height: 100dvh !important;

		main {
			height: 100%;
		}
	}
}
