* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  direction: rtl;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-inline: clamp(1rem, 3vw, 3rem);
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  border-radius: 7px;
  background-color: white;
  margin-bottom: 1.5rem;
}
