@use "./colors" as colors;

@font-face {
	font-family: "Heebo";
	src: url("../../public/fonts/Heebo-VariableFont_wght.ttf");
	font-weight: 100 900;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	direction: rtl;
}

html,
body {
	height: 100%;
	max-width: 100vw;
	overflow: hidden;
}

body {
	display: grid;
	grid-template-rows: auto 1fr;
	padding-inline: clamp(1rem, 3vw, 3rem);
	padding-bottom: clamp(0.8rem, 2vw, 2.3rem);
	background-image: url("/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Heebo";

	main {
		place-self: center;
		padding: 1.5rem;
		border-radius: 7px;
		width: 100%;
		height: 100%;
		background-color: white;
		overflow-y: auto;
		overflow-x: hidden;

		> h1 {
			margin-bottom: 1.3rem;
			text-align: center;
			font-size: 1.5rem;
		}
	}
}

ul,
li {
	box-sizing: initial;
	margin: revert;
	padding: revert;
}

button,
input {
	font-family: "Heebo";
}

::-webkit-scrollbar {
	width: 6px;
	background-color: rgb(229, 229, 229);
}

::-webkit-scrollbar-thumb {
	background-color: colors.$gray;
}

::-webkit-scrollbar-thumb:hover {
	background-color: colors.$gray-hover;
}
