#patients-management {
	display: grid;
	min-width: 50rem;
	width: fit-content;
	grid-template-rows: auto 1fr;

	#buttons {
		position: absolute;
	}
}

@at-root [data-mobile="true"] #patients-management {
	grid-template-rows: 1fr;
	width: 100%;
	min-width: 0;
	padding: 0;
}
