@use "../../app/colors" as colors;

.accordion {
	width: 100%;
	padding: 0.4rem 0.8rem;
	border-radius: 3px;
	border: 1px solid colors.$gray;
	margin-bottom: 0.7rem;
	color: rgb(151, 151, 151);
	font-size: 0.9em;
	font-weight: 600;

	&[open] {
		padding-bottom: 0.8rem;

		svg {
			rotate: 180deg;
		}
	}

	summary {
		display: flex;
		justify-content: space-between;
		align-items: center;
		user-select: none;
		list-style: none;
		cursor: pointer;

		svg {
			width: 15px;
		}
	}
}

:root[data-mobile="true"] .accordion {
	summary {
		font-size: 1.2rem;
	}
}
