@use "../../app/colors" as colors;

.button {
	padding: 0.2rem 1.3rem;
	border-radius: 4px;
	color: colors.$gray;
	border-color: inherit;
	background: #fff;
	font-size: 0.7rem;
	font-weight: 600;
	cursor: pointer;

	&.primary {
		color: colors.$primary;
	}

	&.error {
		color: colors.$error;
	}

	&[data-variant="outline"] {
		border: 1px solid;

		&:hover {
			outline: 1px solid;
			outline-color: inherit;
		}
	}

	&[data-variant="filled"] {
		border: 0;
		color: white;

		&:hover {
			outline: 1px solid;
			background-color: color(from inherit srgb 0 0 0 5);
		}

		&.primary {
			background-color: colors.$primary;
			outline-color: colors.$primary;
		}

		&.error {
			background-color: colors.$error;
			outline-color: colors.$error;
		}
	}
}

@at-root [data-mobile="true"] .button {
	border: 0;
	padding: 0.4rem 1.5rem;
	font-size: 1rem;
}
