@use "../../app/colors" as colors;

.toggle-links {
	display: flex;
	align-items: center;
	width: auto;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;

	li > a {
		text-decoration: none;
	}
}

.filled {
	border-radius: 7px;
	background-color: #006476;

	li {
		a {
			color: white;
			display: block;
			padding: 0.4rem 1.5rem;
		}

		&[data-active="false"] a:hover {
			background-color: rgba(0, 0, 0, 0.079);
		}

		&[data-active="true"] {
			background-color: rgba(0, 0, 0, 0.16);
		}
	}
}

.outline {
	border: 1px solid colors.$gray;
	font-weight: 550;
	font-size: 0.7rem;
	background-color: transparent;
	padding: 0.3rem 1rem;
	border-radius: 6px;
	justify-content: space-around;

	li {
		&[data-active="false"] a {
			color: colors.$gray;

			&:hover {
				color: colors.$gray-hover;
			}
		}

		&[data-active="true"] a {
			color: black;
			font-weight: 600;
		}
	}
}

@at-root [data-mobile="true"] *:is(.toggle-links, .outline, .filled) {
	box-sizing: border-box;
	width: 100%;
	border-radius: 0;
	padding-block: 0.7rem;

	a {
		font-size: 0.9rem;
	}
}
