@use "../../page.module.scss" as colors;

#create-visit-form {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 90%;
	animation: fadein 0.2s 0.15s forwards;

	section {
		overflow: auto;
		padding-inline: 1rem;

		fieldset {
			border: 0;
			margin-bottom: 1rem;

			legend {
				width: 100%;
				border-bottom: 2px solid;
				border-radius: 0;
				color: colors.$primary;
				background: none;
				text-align: center;
				font-size: 1.3rem;
			}
		}
	}
}
